<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        body {
            padding: 3rem;
            background: linear-gradient(339deg, #242424 0%, #102730 100%);
            color: #f2fff9 !important;
        }
    </style>
</head>

<body>
    <p>Dear {{email}},</p>
    <p>We saw that you haven't visited to Household services App today.</p>
    <p>Please visit Household services App today.</p>
    <p>Regards,</p>
    <p></p>
    <p>Team Household services App/p>
</body>

</html>